<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="net.zetetic" android:versionCode="1" android:versionName="1.0-SNAPSHOT">
    <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="21"/>
    <application android:icon="@drawable/icon" android:label="@string/app_name" android:name="ZeteticApplication">
        <activity android:name=".TestSuiteActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <provider android:name=".ZeteticContentProvider" android:authorities="net.zetetic.sqlcipher.zeteticprovider" />

        <provider android:name=".ZeteticContentProvider2" android:authorities="net.zetetic.sqlcipher.zeteticprovider2"
            android:process=":provider" />
    </application>
    <uses-permission android:name="android.permission.READ_CONTACTS" />
</manifest>

